.button-group {
    display: flex;
    justify-content: flex-end;
}
.table-container {
    max-width: 1600px;
    max-height: 400px;
    overflow-y: auto;
    position: relative;
}
.request-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #727070;
}
.request-table thead {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}
.request-table th {
    padding: 12px;
    text-align: left;
    color: rgb(255, 255, 255);
}

.request-table td {
    border: 1px solid #ffffff;
    padding: 12px;
    text-align: left;
    color: rgb(255, 255, 255);
}

.request-table th {
    background: linear-gradient(to right, #f2f2f2, #e0e0e0);
    color: black;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.request-table tr:nth-child(odd) {
    background-color: #8c8c8c; 
}

.request-table tr:nth-child(even) {
    background-color: #727070;
}

.details-button {
    background-color: #c10015;
    color: white;
    border: none;
    padding: 15px 10px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}

.details-button:hover {
    background-color: #c10017b0;
    transform: translateY(-2px);
}

.status-legend {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.status-item {
    display: flex;
    align-items: center;
}

.square {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.request-wrapper {
    margin-left: 40px;
    max-width: 100%;
    margin: 0 auto;
}

.button-group button {
    color: white;
    background-color: black;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin: 0 0 25px 15px;
    transition: background-color 0.3s, transform 0.2s;
    border-radius: 5px;
}

.button-group button:hover {
    opacity: 0.8;
    transform: translateY(-2px);
}
