.app-container {
    margin-top: 80px;
}

.nav-container {
    position: sticky;
    top: 0;
    width: 220px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-right: 1px solid black;
}

.empty-space {
    height: 86px;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    cursor: pointer;
    padding: 20px 10px;
}

.nav-item:last-of-type {
    border-bottom: none;
}

.nav-item.active {
    background-color: black;
}

.nav-img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.nav-text {
    font-size: 18px;
    color: black;
    transition: color 0.3s ease;
    text-align: center;
}

.nav-item.active .nav-text {
    color: white;
}

.content-container {
    flex: 1;
    margin-left: 220px;
    padding: 20px;
    overflow-y: auto;
}
