.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("../../Images/bg_login.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-container,
.registration-container {

    background-color: #f9f9f9;
    width: 100%;
    max-width: 350px;
    height: 100%;
    max-height: 370px;
    padding: 0 30px 30px 30px;
    border: 2px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.title {
    padding: 30px 0;
    font-size: 35px;
}

.input-group {
    margin-bottom: 25px;
    position: relative;
}

.input-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-37%);
    width: 23px;
    height: 23px;
    cursor: pointer;
}

.back-icon {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.back-link {
    margin-top: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.back-text {
    color: #333;
}

.back-text:hover {
    color: #c10015;
    transition: color 0.2s ease;
}

input {
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    box-sizing: border-box;
    border-radius: 25px; 
    border: 1px solid #ccc;
    transition: border-color 0.2s ease;
}

input:focus {
    border-color: #c10015;
}

.error,
.error-message,
.return-message{
    color: #c10015;
    margin-bottom: 20px;
}
.success-message {
    color: green;
    font-size: 28px;
    margin: 120px 0 20px 0;
}
.registration-message {
    display: flex;                    
    align-items: center;              
    color: #333;                    
    font-size: 16px;                 
    margin-top: 20px;                
}
.registration-message div {
    cursor: pointer;                  
    text-decoration: underline;       
    color: #000000;                 
    margin-left: 5px;                
}

.registration-message div:hover {
    color: #c10015;                 
    transition: color 0.2s ease;    
}



.return-message {
    color: green;
    font-size: 16px;
}

.registration-link {
    color: #333;
    cursor: pointer;
    text-decoration: underline;
}

.registration-link:hover {
    color: #c10015;
    transition: color 0.2s ease;
}

.message {
    margin: 10px 0;
    color: #333;
    font-size: 16px;
}
