.admin-header {
    background-color: #000000;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-wrapper {
    max-width: 1127px;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.driftwood-title{
    cursor: pointer;
}

.logout-button {
    margin-right: 20px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #c10015;
}

.driftwood-title {
    color: #ffffff;
    font-size: 46px;
    font-family: "Old English";
}

