.header {
    background-color: #000000;
    height: 80px;
    padding: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.wrapper {
    max-width: 1127px;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 80px;
    height: 60px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo:hover img {
    transform: scale(1.1) rotate(5deg);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.navigation ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.navigation li {
    margin: 0 15px;
}

.navigation .nav-link {
    color: #ffffff;
    font-size: 16px;
    transition: color 0.3s;
    text-decoration: none;
    font-weight: bold;
}

.navigation .nav-link:hover {
    color: #c10015;
    text-decoration: none;
}

.cart img {
    width: 43px;
    height: 41px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cart:hover img {
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
