
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3); 
    z-index: 1000;
}

.modal p {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.admin-slider {
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
}

.button-containers {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.table-container {
    width: 1600px;
    max-height: 400px; 
    overflow-y: auto; 
    border: 1px solid #ccc;
    margin-top: 20px; 
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #727070;
}

table thead {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}

table th {
    padding: 12px;
    text-align: left;
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, #f2f2f2, #e0e0e0);
    color: black;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

table td {
    border: 1px solid #ffffff;
    padding: 12px;
    text-align: left;
    color: rgb(255, 255, 255);
}

table tr:nth-child(odd) {
    background-color: #8c8c8c;
}

table tr:nth-child(even) {
    background-color: #727070;
}

table img {
    width: 100px;
    height: auto;
    object-fit: cover;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input[type="text"],
form textarea,
form input[type="file"],
form button {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

form button[type="submit"] {
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
}

form button[type="button"] {
    background-color: #ccc;
    color: black;
    border: none;
    cursor: pointer;
}

.modal h2 {
    margin-bottom: 10px;
}

.modal button {
    margin: 5px 5px;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.modal button:first-child {
    background-color: #ff5c5c;
    color: white;
}

.modal button:last-child {
    background-color: #ccc;
    color: black;
}

.preview-container {
    position: relative;
    margin-bottom: 20px;
}

.image-preview {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.image-preview img {
    max-width: 100%;
    max-height: 200px; 
    border: 2px solid #fff;
    border-radius: 8px;
}

.custom-file-input {
    display: inline-block;
    background-color: #c10015; 
    color: white; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    position: relative; 

}

.custom-file-input input {
    display: none;
}

.custom-file-input:hover {
    background-color: #b91f31; 
}
.move-button {
    background-color: #c10015;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.move-button:hover {
    background-color: rgb(163, 54, 67); 
}

.move-button:disabled {
    background-color: #ccc; 
    cursor: not-allowed;
}
